
@model ICollection<Asm1670.Models.Book>

<div class="container col-md-8 text-center mt-3">
    <h1 class="text text-primary">Book List</h1>
    <p>Welcome to Our Book Store</p>
    <p>Add New Book</p>
    <a asp-action="Create">
        <img src="~/Image/AddButton.png" width="40" height="40" />
    </a>
    <table class="table table-bordered mt-4">
        <thead>
            <tr>
                <th>
                    Book Id
                </th>
                <th>
                    Book Title
                </th>
                <th>
                    Book Price
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var book in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(item => book.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(item => book.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(item => book.Price)
                    </td>

                    <td>
                        <a asp-controller="Book" asp-action="Detail" asp-route-id="@book.Id">
                            <img src="~/Image/DetailButton.jpg" width="40" height="40" />
                        </a>
                        <a asp-controller="Book" asp-action="Edit" asp-route-id="@book.Id">
                            <img src="~/Image/EditButton.png" width="40" height="40" />
                        </a>
                        <a asp-controller="Book" asp-action="Delete" asp-route-id="@book.Id"
                           onclick="return confirm('Are you sure to delete this book ?')">
                            <img src="~/Image/DeleteButton.png" width="40" height="40" />
                        </a>
                    </td>

                </tr>
            }
        </tbody>
    </table>
</div>
