@model ICollection<Asm1670.Models.Book>

<div class="container text-center mt-3">
    @if (@TempData["Message"] != null)
    {
        <p class="alert alert-danger">@TempData["Message"]</p>
    }
    <table class="table table-bordered">
        <tr>
            <th colspan="3" class="h3 bg-light text-success">The book that has in store</th>
            <th class="col-md-4">
                <a class="btn btn-primary" asp-controller="Book" asp-action="Create">
                    Add a new Book
                </a>
            </th>
        </tr>
        <tr>
            <th>Book Id</th>
            <th>Book Title</th>
            <th>Book Image</th>
            <th>Action</th>
        </tr>
        @foreach (var book in Model)
        {
            <tr>
                <td>@book.Id</td>
                <td>
                    <a class="font-weight-bold" asp-controller="Book" asp-action="Detail" asp-route-id="@book.Id">
                        <img src="@book.Image" width="100" height="100">
                    </a>
                </td>
                <td>
                        @book.Name
                </td>
                <td>
                    <a class="btn btn-warning" asp-controller="Cart" asp-action="Edit" asp-route-id="@book.Id">
                        Add to cart
                    </a>
                </td>
            </tr>
        }
    </table>
</div>
